<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/plugins/materialize/css/materialize.min.css">
    <!--<link rel="stylesheet" href="css/main.css"> -->
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="input-field">
                <input placeholder="Placeholder" id="username" type="text" class="validate">
                <label for="username">Username</label>
            </div>
        </div>
        <div class="row">
            <a class="waves-effect waves-light btn" onclick="submit();">Submit</a>
        </div>
    </div>
    <script type="text/javascript" src="/static/plugins/jquery.min.js"></script>
    <script type="text/javascript" src="/static/plugins/materialize/js/materialize.min.js"></script>
</body>

</html>
